# Assignment 2
Pull weather data from link provided and plot various pieces of data.

Undertaken for the [Programming for Data Analytics](https://www.atu.ie/courses/higher-diploma-in-science-data-analytics#:~:text=Programming%20for%20Data%20Analytics) module as part of the [Higher Diploma in Science in Data Analytics](https://www.atu.ie/courses/higher-diploma-in-science-data-analytics) at ATU.

I will begin by importing some modules that will assist my analysis.

In [19]:
import pandas as pd # for data manipulation
import matplotlib.pyplot as plt # for plotting
import seaborn as sns # for visualisations
from datetime import datetime

# set Seaborn visual theme for plots
sns.set()

I'll pull the data from the provided link into a CSV file, then use <code>.head()</code> to review the data.

I have taken a look at the sheet in advance, so I know I will need to use <code>skiprows</code> to prepare the header row.

In [14]:
url = "https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv"
df = pd.read_csv(url, skiprows=22, low_memory=False)
df.head()

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
0,10-apr-1996 14:00,0,0.0,0,11.5,0,8.1,3.9,0.0,0,...,0,0,0,0,25,81,0.0,35000,32,5
1,31-jul-1996 08:00,0,0.0,0,11.5,0,11.1,10.7,0.0,0,...,0,0,0,0,25,82,0.0,40000,45,5
2,31-jul-1996 09:00,0,0.0,0,11.6,0,10.7,9.8,0.0,0,...,0,0,0,0,80,81,0.0,8000,32,7
3,31-jul-1996 10:00,0,0.0,0,12.9,0,11.3,9.8,0.0,0,...,0,0,0,0,25,82,0.0,28000,35,6
4,31-jul-1996 11:00,0,0.0,0,14.5,0,10.8,7.0,0.0,0,...,0,0,0,0,2,11,0.0,40000,40,6

Let's use <code>.info()</code> to see what datatypes we have in the file.

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248394 entries, 0 to 248393
Data columns (total 21 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    248394 non-null  object
 1   ind     248394 non-null  int64
 2   rain    248394 non-null  object
 3   ind.1   248394 non-null  int64
 4   temp    248394 non-null  float64
 5   ind.2   248394 non-null  int64
 6   wetb    248394 non-null  float64
 7   dewpt   248394 non-null  float64
 8   vappr   248394 non-null  float64
 9   rhum    248394 non-null  int64
 10  msl     248394 non-null  object
 11  ind.3   248394 non-null  int64
 12  wdsp    248394 non-null  object
 13  ind.4   248394 non-null  int64
 14  wddir   248394 non-null  object
 15  ww      248394 non-null  object
 16  w       248394 non-null  object
 17  sun     248394 non-null  float64
 18  vis     248394 non-null  object
 19  clht    248394 non-null  object
 20  clamt   248394 non-null  object
dtypes: float64(5), int64(6), object(10)
memory usage: 39.8+ MB

A mix of **Ints**, **Floats**, and **Objects**.

The first thing I want to do it convert that *date* column into a *datetime* format. I won't be able to plot anything unless I do that.

In [21]:
date_objects = [datetime.strptime(date, '%d/%m/%Y %H:%M') for date in df]

ValueError: time data 'date' does not match format '%d/%m/%Y %H:%M'